<footer id="container">
  <div>
      <p>
          &#169; Codieal All Rights Reserved
      </p>
  </div>

  <div>
      <nav class="footer-nav">
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/users/about">about</a>
              </li>
          </ul>
      </nav>
  </div>
</footer>