<div>
    <P> Hi! <%= comment.user.name%></P>
    <br>
    <br>
    <p> Your comment <strong><%= comment.content%></strong> just got published on codieal !</p>
    <br>
    <br>
    <P>Thanks!</P>
</div>